doctype
html
  head
    title Math 1 EOC Review
    link(rel="stylesheet" type="text/css" href="main.css")
  body
    include _multiple.jade
    include _gridded.jade
    script(src="https://cdnjs.cloudflare.com/ajax/libs/phaser/2.3.0/custom/phaser-arcade-physics.js")
    script(src="game.js")

