doctype
html
  head
    title Math 1 EOC Review
  body
    .question Will be replaced.
    .blah `N = w^2 + 12w + 24`
    script(src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=AM_HTMLorMML")
    script(src="scripts/ASCIIMathML.js")
    script(src="scripts/apitest.js")

