doctype
html
  head
    title Math 1 EOC Review
    //link(rel="stylesheet" type="text/css" href="main.css")
    style
      body
        font-family Arial
    meta(http-equiv="Content-Type" content="text/html; charset=utf-8")

  body
    script(src="scripts/ASCIIMathML.js")
    include _sample_questions.jade
    include _multiple.jade
    include _gridded.jade
    script(src="scripts/phaser.js")
    script(src="scripts/game.js")

