doctype
html
  head
    title Math 1 EOC Review
  body
    .blah `N = w^2 + 12w + 24`
    .blah `x = (-b +- sqrt(b^2-4ac))/(_sum)`
    .blah `sum_(n=1)^oo 1/2^n=1`
    script(src="scripts/apitest.js")
    script(src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=AM_HTMLorMML-full")
    .question Will be replaced.

