.multiple
  :markdown
    This is the text of the sample question explaining everything
    as clearly as people who make tests can.

  .choice#A
      .l A.
      .q
        :markdown
          This is the text of answer. Here is a lot more text about
          nothing to fill the space. Blah more blah.
  .choice#B
      .l B.
      .q
        :markdown
          This is the text of answer. Here is a lot more text about
          nothing to fill the space. Blah more blah.
  .choice#C
      .l C.
      .q
        :markdown
          This is the text of answer. Here is a lot more text about
          nothing to fill the space. Blah more blah.
  .choice#D
      .l D.
      .q
        :markdown
          This is the text of answer. Here is a lot more text about
          nothing to fill the space. Blah more blah.



