doctype
html
  head
    title Math 1 EOC Review
  body
    #question Question
    .answers
      .answer One
      .answer Two
      .answer Three
      .answer Four

    button.newone New One
    script(src="testprep.js")
    script(src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=AM_HTMLorMML-full")
    script(src="reveal.js")

