doctype
html
  head
    title Math 1 EOC Review
    //link(href="main.css", rel="stylesheet")
    //link(href="bootstrap-3.3.5-dist/css/bootstrap-theme.min.css", rel="stylesheet")
    script(src="MathJax/MathJax.js?config=AM_HTMLorMML-full")
  body
    .content
      #question Question
      .answers
        .afield 
          button.letter A.
          span.answer
        .afield 
          button.letter B. 
          span.answer
        .afield 
          button.letter C. 
          span.answer
        .afield 
          button.letter D. 
          span.answer

    button#newone New One
    script
      include testprep.js
      include reveal.js

