doctype
html
  head
    title Math 1 EOC Review
  body
    p Here is a line <span style="text-decoration:overline"><em>AB</em></span>
    p Here is a test `barxbary`


    #question Question
    .answers
      .answer One
      .answer Two
      .answer Three
      .answer Four
    button.newone New One
    script(src="apitest.js")
    script(src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=AM_HTMLorMML-full")
    script(src="reveal.js")

