body
  font-family sans-serif

.gridded
.multiple
  background lightgrey
  text-align center

.scene canvas
  background lightblue

.choice
  display block
  text-align center
  border 1px dotted line
  white-space nowrap

  .q
  .l
    display inline-block

  .l
    font-weight bold

  .q
    text-align left
    white-space normal

#game
  display none
  height 100%
  width 100%
  position absolute
  top 0px
  left 0px
