body {
  font-family: sans-serif;
}
.gridded,
.multiple {
  background: #d3d3d3;
  text-align: center;
}
.scene canvas {
  background: #add8e6;
}
.choice {
  display: block;
  text-align: center;
  border: 1px dotted line;
  white-space: nowrap;
}
.choice .q,
.choice .l {
  display: inline-block;
}
.choice .l {
  font-weight: bold;
}
.choice .q {
  text-align: left;
  white-space: normal;
}
#game {
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
}
